@model Usuario


@{
    ViewData["Title"] = "Cadastro de Usuarios";
}
<div class="text-center">
    <h1 class="display-4">Cadastro de usuarios</h1>
</div>

<form asp-controller="Usuario" asp-action="Criar" method="post">  
    <div class="mb-3">
        <label class="form-label">ID Empresa: </label>
        <input type="text" asp-for="@Model.IdEmpresa" class="form-control" id="IdEmpresa2" />
        @Html.ValidationMessageFor(e=> e.IdEmpresa)
    </div>
    <div class="mb-3">
        <label class="form-label">Nome usuario: </label>
        <input type="text" asp-for="@Model.NomeUsuario" class="form-control" id="NomeUsuario" />
        @Html.ValidationMessageFor(e=> e.NomeUsuario)
    </div>
    <div class="mb-3">
        <label class="form-label">Senha: </label>
        <input type="password" asp-for="@Model.Senha" class="form-control" id="SenhaUsuario" />
        @Html.ValidationMessageFor(e=> e.Senha)
    </div>
    <div class="mb-3">
        <label class="form-label">Documento Usuario: </label>
        <input type="text" asp-for="@Model.DocumentoUsuario" class="form-control" id="DocumentoUsuario" />
        @Html.ValidationMessageFor(e=> e.DocumentoUsuario)
    </div>
    <div class="mb-3">
        <label class="form-label">Data Criacao</label>
        <input type="date" asp-for="@Model.DataCriacao" class="form-control" id="DataCriacao2" />
        @Html.ValidationMessageFor(e=> e.DataCriacao)
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Enviar</button>
    <button type="submit" class="btn btn-secondary" asp-controller="Usuario" asp-action="Index">Cancelar</button>
</form>
